<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-select [(ngModel)]="status" (ionChange)="listar()">
        <ion-select-option value="pendente">Pendentes</ion-select-option>
        <ion-select-option value="assistido">Assistidos</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item *ngFor="let filme of filmes | async">
    <ion-label>
      <h2>{{filme.nome}}</h2>
      <h3>Gênero: {{filme.genero.descricao}}</h3>
      <ion-button *ngIf="filme.status=='pendente'" (click)="assistir(filme)">Assistir</ion-button> 
      <ion-button *ngIf="filme.status=='assistido'" (click)="remover(filme)">Remover</ion-button> 
      <ion-button *ngIf="filme.status=='assistido'" (click)="compartilhar(filme)">Compartilhar</ion-button> 
    </ion-label>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="inserir()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>